@import "colours/colours.css";

* {
  font-family: monospace;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: white;
}

.modules-center {
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 10px;
  padding: 0;
}

#workspaces {
  background-color: transparent;
  border-radius: 0;
  padding-left: 15px;
  margin: 0;
}

#workspaces button {
  background-color: transparent;
  color: #cdd6f4;
  border: none;
  padding: 2px 2px;
  transition: all 0.8s ease;
}

#workspaces button.active {
  background-color: rgba(137, 180, 250, 0.3);
  color: #89b4fa;
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: rgba(137, 180, 250, 0.2);
  border-radius: 6px;
}

#clock {
  background-color: transparent;
  border-radius: 0;
  color: #cdd6f4;
}

#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#tray,
#custom-power {
  background-color: transparent;
  color: #cdd6f4;
  border-radius: 0;
}

#custom-power {
  padding-right: 15px;
}

#cpu,
#memory {
  color: #a6e3a1;
}

#pulseaudio {
  color: #89dceb;
}

#custom-notifications {
  background-color: transparent;
  font-family: "NotoSansMono Nerd Font";
  min-width: 1.5rem;
  border-radius: 0;
}

#custom-separator1,
#custom-separator2 {
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
  padding: 0 8px;
}
