@import "colours/colours.css";

* {
  font-family: monospace;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: white;
}

#workspaces {
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 20px;
  padding: 0 10px;
  margin: 0;
}

#workspaces button {
  padding: 0 4px;
  background-color: transparent;
  color: #cdd6f4;
  border: none;
}

#workspaces button.active {
  color: #89b4fa;
}

#workspaces button:hover {
  background-color: rgba(137, 180, 250, 0.2);
  border-radius: 6px;
}

#clock {
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 10px;
  padding: 0 20px;
  color: #cdd6f4;
}

#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#tray,
#custom-power {
  background-color: rgba(30, 30, 46, 0.8);
  padding: 0 12px;
  color: #cdd6f4;
}

#pulseaudio {
  border-radius: 10px 0 0 10px;
  padding-left: 15px;
}

#custom-power {
  border-radius: 0 10px 10px 0;
  padding-right: 15px;
}

#cpu,
#memory {
  color: #a6e3a1;
}

#pulseaudio {
  color: #89dceb;
}

#custom-notifications {
  background-color: rgba(30, 30, 46, 0.8);
  font-family: "NotoSansMono Nerd Font";
  min-width: 1.5rem;
  padding: 0 10px;
}
